html, body {
    padding: 0;
    margin: 0;
}

#table > div > div {
    width: 150px;
}

#table > div > div {
    padding: 2px 5px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#table > div:not(:first-child) > div {
    border: none;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

#table > div:first-child > div {
    font-weight: 900;
    background-color: #c5c5c5;
    border: 1px solid #000;
    border-right: none;
}

#table > div > div:last-child {
    border-right: 1px solid #000;
}

#table > div > div:nth-child(1) {
    width: 50px;
}
